input.feeds-node-autosync-disabled.feeds-node-autosync-adminaccess,
.feeds-node-autosync-disabled.feeds-node-autosync-adminaccess input,
select.feeds-node-autosync-disabled.feeds-node-autosync-adminaccess,
.feeds-node-autosync-disabled.feeds-node-autosync-adminaccess select,
textarea.feeds-node-autosync-disabled.feeds-node-autosync-adminaccess,
.feeds-node-autosync-disabled.feeds-node-autosync-adminaccess textarea,
button.feeds-node-autosync-disabled.feeds-node-autosync-adminaccess,
.feeds-node-autosync-disabled.feeds-node-autosync-adminaccess button,
datalist.feeds-node-autosync-disabled.feeds-node-autosync-adminaccess,
.feeds-node-autosync-disabled.feeds-node-autosync-adminaccess datalist,
keygen.feeds-node-autosync-disabled.feeds-node-autosync-adminaccess,
.feeds-node-autosync-disabled.feeds-node-autosync-adminaccess keygen {
	background-color:rgba(0,0,0,0.05);
	border: 1px solid rgba(255,124,0,0.5);
}

input.feeds-node-autosync-disabled.feeds-node-autosync-adminaccess,
.feeds-node-autosync-disabled.feeds-node-autosync-adminaccess input,
select.feeds-node-autosync-disabled.feeds-node-autosync-adminaccess,
.feeds-node-autosync-disabled.feeds-node-autosync-adminaccess select,
textarea.feeds-node-autosync-disabled.feeds-node-autosync-adminaccess,
.feeds-node-autosync-disabled.feeds-node-autosync-adminaccess textarea,
button.feeds-node-autosync-disabled.feeds-node-autosync-adminaccess,
.feeds-node-autosync-disabled.feeds-node-autosync-adminaccess button,
datalist.feeds-node-autosync-disabled.feeds-node-autosync-adminaccess,
.feeds-node-autosync-disabled.feeds-node-autosync-adminaccess datalist,
keygen.feeds-node-autosync-disabled.feeds-node-autosync-adminaccess,
.feeds-node-autosync-disabled.feeds-node-autosync-adminaccess keygen {
	background-image:url(/misc/message-24-warning.png);
	background-position:100% 50%;
	background-repeat:no-repeat;
	min-height:24px;
}

.fna-feedback-header {
	font-size:150%;
	margin-top:0.5em;
	margin-bottom:0.25em;
}


.fna-feedback .fna-subhead {
	font-size:125%;
}
.fna-feedback > * {
	max-width: 35em;
	margin:0;
	padding:0.125em;
	box-sizing:border-box;
}

.fna-importer-link {
	margin-top:1em;
}

#fna-show-help {
	display:none;
}
#fna-show-help ~ div > .fna-feedback-help {
	line-height:0;
	/*font-size:0%;*/
	transform: scale(.0);
	color:rgba(255,255,255,0.1);
	transition: all 1s;
}

#fna-show-help:checked ~ div > .fna-feedback-help {
	line-height:1.6em;
	transform: scale(1);
	/*font-size:100%;*/
	color:rgba(0,0,0,1);
}

#fna-show-help ~ label:before {
	display:inline-block;
	content:"Show ";
	margin-right: 0.25em;
}

#fna-show-help:checked ~ label:before {
	content:"Hide ";
}
